html{
    font-family:Avenir,Open Sans,Helvetica,sans-serif;
    background: white;
    color:rgb(0, 0, 0,.8);
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
  }
  .orchestra{
    width: 100%;
    height: auto;
    filter: grayscale(10%);
    }
a:hover{
        color: ghostwhite;
    }
  nav {
      height: auto;
      flex: 100%;
      display: flex;
      background-color: rgb(0,40,102);
  }
    
    nav ul {
      padding: 0;
      list-style-type: none;
      flex: 2;
      display: flex;
    }
    
    nav li {
      display: inline;
      text-align: center;
      flex: 1;
    }
    
    nav a, nav span {
      display: inline-block;
      font-size: 2vw;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 30px;
    
    }
  @media screen and (max-width: 1500px)and (min-width:400px) {
    h1{
        color: rgb(0,40,102);
        font-size: 4vw;
        text-transform: uppercase;
        font-weight: 300;
      }
      h2{
        border-top: 2px solid rgb(0,40,102);
        font-size: 2em;
        text-transform: uppercase;
        font-weight: 500;
        padding-top: 20px;
      }
      h3{
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 400;
      }
      h4{
        font-size: 1.25em;
        text-transform: uppercase;
        font-weight: 400;
      }
      .about p{
        font-size: 1.25em;
      }
      .about h2{
        border: 0px;
        font-size: 2.25em;
      }
    header {
            display: flex;
            flex-flow: row wrap;
        }
    .show {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: 10px;
      grid-auto-rows: auto;
      grid-template-areas:
        "a a a a a a a a"
        "b b b b c c c c";
      align-items: start;
    }
    .info{
      grid-area: a;
    }
    .rep{
      grid-area: c;
    }
    .artists{
      grid-area: b;
    }
    nav a{
      font-size: 1rem;
    }
    nav a{
      font-size: 1.5rem;
    }
}
@media screen and (min-width:1500px) {
  h1{
    font-size: 4.5vw;
    color: rgb(0,40,102);
    text-transform: uppercase;
    font-weight: 400;
  }
  h2{
    border-top: 2px solid rgb(0,40,102);
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 20px;
    font-size: 3em;
  }
  h3{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2em;
  }
  h4{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.75em;
  }
p{
    font-size: 1.75rem;

  }
  .about h2{
    border: 0px;
  }
header {
        display: flex;
        flex-flow: row wrap;
    }

.show {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  grid-auto-rows: auto;
  grid-template-areas:
    "a a a a a a a a"
    "b b b b c c c c";
  align-items: start;
}
.info{
  grid-area: a;
}
.rep{
  grid-area: c;
}
.artists{
  grid-area: b;
}
nav a{
  font-size: 2rem;
}
}
@media screen and (max-width:400px) {
  h1{
    color: rgb(0,40,102);
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 20px;
  }
  h2{
    border-top: 2px solid rgb(0,40,102);
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 20px;
  }
  h3{
    font-size: 2.5vw;
    text-transform: uppercase;
    font-weight: 400;
  }
  h4{
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 400;
  }
p {
  font-size: 1.5vw;
}
.show {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
    "a"
    "b"
    "c";
  align-items: start;
}
.info{
  grid-area: a;
}
.rep{
  grid-area: c;
}
.artists{
  grid-area: b;
}
nav a{
  font-size: 1rem;
}
}