html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(251,237,224);
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: rgb(228,131,105,.6);
    border-radius: 75px 75px;
    margin: 40px;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:white;
    
}
h1{
    color: rgb(63,29,12)
}
h1:hover{
    font-size: 40px;
    color: rgb(63,29,12, 0.5)
}

img{
    width:30vw;
    height: 30vh;
    transition: width 2s, height 2s;
}
img:hover{
    filter: grayscale(60%);
    width: 300px;
    height: 300px;
    
}
#red-ball{
    background-color: rgb(107, 37, 6);
    width: 30px;
    height:30px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;    
    animation-duration: 5s;
    animation-name: ballMove;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

@keyframes ballMove{
    from{
    top: 50vw;
    left: 0vw;
    }
    to{
    top: 50vw;
    left: 100vw;
    }
}